
snippet html
<!DOCTYPE HTML>
<html> 
	<body>
		$1
	</body>	
</html>
endsnippet

snippet input
<input id="$1" type="$2" name="$3">
endsnippet

snippet form
<form action="" method="post">
$1
</form>
endsnippet
